<?xml version="1.0"?>
<launch>
    <!--  map server  -->
    <node name="map_server_nav" pkg="map_server" type="map_server" args="$(find lucky_navi)/map/WilloGarage_2.yaml"/>
    <node name="global_cartographer" pkg="lucky_navi" type="global_cartographer.py" output="screen"/>
    <node name='rviz' pkg='rviz' type='rviz' args="-d $(find lucky_navi)/lucky_navi.rviz"/>
</launch>
